USE [master]
GO
/****** Object:  Database [YatchDb]    Script Date: 12/1/2022 9:17:56 PM ******/
CREATE DATABASE [YatchDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'YatchDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\YatchDb.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'YatchDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\YatchDb_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [YatchDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [YatchDb]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 12/1/2022 9:17:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 12/1/2022 9:17:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 12/1/2022 9:17:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 12/1/2022 9:17:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 12/1/2022 9:17:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 12/1/2022 9:17:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tbl_BookingHistory]    Script Date: 12/1/2022 9:17:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_BookingHistory](
	[numID] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderCode] [nvarchar](50) NULL,
	[CustomerName] [nvarchar](50) NULL,
	[ContactNo] [nvarchar](50) NULL,
	[EmailID] [nvarchar](50) NULL,
	[Address] [nvarchar](250) NULL,
	[YatchID] [bigint] NULL,
	[YatchName] [nvarchar](max) NULL,
	[YatchDescription] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NULL,
	[OrderDate] [datetime] NULL,
	[OrderStatus] [int] NULL,
	[Remarks1] [nvarchar](max) NULL,
	[Remarks2] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_Tbl_BookingHistory] PRIMARY KEY CLUSTERED 
(
	[numID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tbl_Yacht_Details]    Script Date: 12/1/2022 9:17:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Yacht_Details](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NULL,
	[Cover_Img_Url] [nvarchar](max) NULL,
	[Isavaible] [bit] NULL,
	[IsActive] [bit] NULL,
	[Description] [nvarchar](max) NULL,
	[Create_date] [datetime] NULL,
	[Create_by] [nvarchar](50) NULL,
	[Update_date] [datetime] NULL,
	[Delete_date] [datetime] NULL,
 CONSTRAINT [PK_Tbl_Yacht_Details] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tbl_Yachts_Images]    Script Date: 12/1/2022 9:17:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_Yachts_Images](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Yacht_Id] [bigint] NULL,
	[Image_Url] [varchar](max) NULL,
	[IsActive] [bit] NULL,
	[Created_date] [datetime] NULL,
	[Created_by] [bigint] NULL,
	[Updated_Date] [datetime] NULL,
	[Updated_By] [bigint] NULL,
	[Deleted_date] [datetime] NULL,
	[Deleted_by] [bigint] NULL,
 CONSTRAINT [PK_Tbl_Yachts_Images] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'bb08c4af-b576-4868-9f8d-0c422a32c512', N'admin@gmail.com', 0, N'AOkmgloY30RDwbvnYzm+nwdKrk65n8dkg76JNl1su6LdAEsuHAi8+KgIRzHFfv3y2A==', N'6c5dcc16-2bf8-4237-abd6-0ab84fbbcf6d', NULL, 0, 0, NULL, 1, 0, N'admin@gmail.com')
SET IDENTITY_INSERT [dbo].[Tbl_BookingHistory] ON 

INSERT [dbo].[Tbl_BookingHistory] ([numID], [OrderCode], [CustomerName], [ContactNo], [EmailID], [Address], [YatchID], [YatchName], [YatchDescription], [Price], [OrderDate], [OrderStatus], [Remarks1], [Remarks2], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (1, N'465908', N'Sidd', N'9026825661', N'sidd@gmail.com', N'my address', 0, N'Rishabh Machhi', NULL, CAST(23.00 AS Decimal(18, 2)), CAST(N'2022-11-30 22:03:21.843' AS DateTime), 1, NULL, NULL, N'bb08c4af-b576-4868-9f8d-0c422a32c512', CAST(N'2022-11-30 22:03:21.843' AS DateTime), NULL, NULL)
INSERT [dbo].[Tbl_BookingHistory] ([numID], [OrderCode], [CustomerName], [ContactNo], [EmailID], [Address], [YatchID], [YatchName], [YatchDescription], [Price], [OrderDate], [OrderStatus], [Remarks1], [Remarks2], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (2, N'268564', N'Rajan', N'9026825661', N'raj@gmail.com', N'my address', 5, N'Rishabh Machhi', NULL, CAST(34.00 AS Decimal(18, 2)), CAST(N'2022-11-30 22:03:21.843' AS DateTime), 1, NULL, NULL, N'bb08c4af-b576-4868-9f8d-0c422a32c512', CAST(N'2022-11-30 22:10:13.377' AS DateTime), NULL, NULL)
INSERT [dbo].[Tbl_BookingHistory] ([numID], [OrderCode], [CustomerName], [ContactNo], [EmailID], [Address], [YatchID], [YatchName], [YatchDescription], [Price], [OrderDate], [OrderStatus], [Remarks1], [Remarks2], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (3, N'849454', N'My Name', N'76587987989', N'myname@gmail.com', N'my address', 4, N'Rishabh Machhi', NULL, CAST(23.00 AS Decimal(18, 2)), CAST(N'2022-11-30 22:03:21.843' AS DateTime), 1, N'my views', NULL, N'bb08c4af-b576-4868-9f8d-0c422a32c512', CAST(N'2022-11-30 22:15:22.573' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Tbl_BookingHistory] OFF
SET IDENTITY_INSERT [dbo].[Tbl_Yacht_Details] ON 

INSERT [dbo].[Tbl_Yacht_Details] ([Id], [Name], [Price], [Cover_Img_Url], [Isavaible], [IsActive], [Description], [Create_date], [Create_by], [Update_date], [Delete_date]) VALUES (4, N'Rishabh Machhi', CAST(23.00 AS Decimal(18, 2)), N'/Content/Cover_Images/WhatsApp Image 2022-10-11 at 00.07.27.jpg', NULL, 1, NULL, CAST(N'2022-11-17 00:08:28.827' AS DateTime), N'bb08c4af-b576-4868-9f8d-0c422a32c512', CAST(N'2022-11-22 18:16:37.663' AS DateTime), NULL)
INSERT [dbo].[Tbl_Yacht_Details] ([Id], [Name], [Price], [Cover_Img_Url], [Isavaible], [IsActive], [Description], [Create_date], [Create_by], [Update_date], [Delete_date]) VALUES (5, N'Rishabh Machhi', CAST(34.00 AS Decimal(18, 2)), N'/Content/Cover_Images/WhatsApp Image 2022-10-11 at 00.07.27.jpg', NULL, 1, NULL, CAST(N'2022-11-17 00:10:02.753' AS DateTime), N'bb08c4af-b576-4868-9f8d-0c422a32c512', CAST(N'2022-11-22 18:24:29.613' AS DateTime), NULL)
INSERT [dbo].[Tbl_Yacht_Details] ([Id], [Name], [Price], [Cover_Img_Url], [Isavaible], [IsActive], [Description], [Create_date], [Create_by], [Update_date], [Delete_date]) VALUES (6, N'Rishabh Machhi', CAST(34.00 AS Decimal(18, 2)), N'/Content/Cover_Images/WhatsApp Image 2022-10-11 at 00.09.20.jpg', NULL, 1, NULL, CAST(N'2022-11-17 00:10:49.890' AS DateTime), N'bb08c4af-b576-4868-9f8d-0c422a32c512', CAST(N'2022-11-22 18:33:59.170' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Tbl_Yacht_Details] OFF
SET IDENTITY_INSERT [dbo].[Tbl_Yachts_Images] ON 

INSERT [dbo].[Tbl_Yachts_Images] ([Id], [Yacht_Id], [Image_Url], [IsActive], [Created_date], [Created_by], [Updated_Date], [Updated_By], [Deleted_date], [Deleted_by]) VALUES (38, 5, N'/Content/YachtImages/WhatsApp Image 2022-10-11 at 00.08.04.jpg', 1, CAST(N'2022-11-22 18:24:35.597' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Tbl_Yachts_Images] ([Id], [Yacht_Id], [Image_Url], [IsActive], [Created_date], [Created_by], [Updated_Date], [Updated_By], [Deleted_date], [Deleted_by]) VALUES (39, 5, N'/Content/YachtImages/WhatsApp Image 2022-10-11 at 00.09.20.jpg', 1, CAST(N'2022-11-22 18:24:35.717' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Tbl_Yachts_Images] ([Id], [Yacht_Id], [Image_Url], [IsActive], [Created_date], [Created_by], [Updated_Date], [Updated_By], [Deleted_date], [Deleted_by]) VALUES (40, 5, N'/Content/YachtImages/WhatsApp Image 2022-10-11 at 00.10.29.jpg', 1, CAST(N'2022-11-22 18:24:35.760' AS DateTime), NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Tbl_Yachts_Images] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 12/1/2022 9:17:56 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 12/1/2022 9:17:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 12/1/2022 9:17:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 12/1/2022 9:17:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 12/1/2022 9:17:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 12/1/2022 9:17:56 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Tbl_Yachts_Images]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Yachts_Images_Tbl_Yacht_Details] FOREIGN KEY([Yacht_Id])
REFERENCES [dbo].[Tbl_Yacht_Details] ([Id])
GO
ALTER TABLE [dbo].[Tbl_Yachts_Images] CHECK CONSTRAINT [FK_Tbl_Yachts_Images_Tbl_Yacht_Details]
GO
USE [master]
GO
